.outer {
  background: cyan;
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 75vw 25vw;
  grid-template-rows: 100vh;
  
  h2 {
    margin: 0;
  }

  div:nth-child(1) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;

    div:first-child {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: min(50px, 15vh);
    }

    div:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

.changeScreen {
  position: fixed;
  top: 0;
  background-color: black;
  border: none;
  color: white;
  padding: 3vh;
  margin: 2vh;
  border-radius: 20%;
  cursor: pointer;
}