.tabOuter {
    height: 100%;

    .tabInside {
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;
        .div {
            min-height: 25vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            * {
                margin: 0;
                padding: 0;
                p {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}